#

*~
.ipynb_checkpoints/
Untitled.ipynb
events.out.tfevents.*
jsonfile.txt
jsonpretty.json
jsononeline.json
url.txt
url.escape.txt
xmlfile.txt
xmlpretty.txt
/notebooks/stations.txt
/notebooks/ghcnd-readme.txt
/notebooks/*dly